@media (max-width:767px){
    .card-panel-item{
        font-size:0.5em;
    }
}

.wrap-login100{
    background: rgba(24, 24, 83, 0.8);
}

.dorne-footer-area{
    background-color: #000039;
}
.align-center{
    text-align: center;
}

.header-logo {
    background: url(/image/mach_logo.png) no-repeat;
    width: 150px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

.card-panel{
    border :solid 1px #373785;
    background-color: rgba(24, 24, 83, 0.8);;
}
.card-panel-item{
    border-radius: 5px;
    border: solid 1px #373785;
    background-color: #1f1f65;
    margin-bottom:5px;
}
.card-panel-item-top{
    border-radius: 4px;
    background-color: #3c3b9b;
}
.card-panel-item-bottom{
    border-radius: 4px;
    background-color: #3f6891;
}
.card-panel-item-bottom2{
    border-radius: 4px;
    background-color: #054f80;
}
.card-panel2{
    border: solid 1px #373785;
    background-color: rgba(13, 9, 67, 0.8);
}
.card-panel-item-buy{
    border-radius: 4px;
    background-color: #3c1491;
}
.card-panel-item-sell{
    border-radius: 4px;
    background-color: #142f91;
}
.card-panel-item-cost{
    /*font-size:0.8em;*/
    text-align: center;
}
.card-panel-item-status-register{
    background-color: #8400FF;
    border-radius:4px;
}
.card-panel-item-status-vrt{
    background-color: #3c1491;
    border-radius:4px;
}
.card-panel-item-status-point{
    background-color: #4922c1;
    border-radius:4px;
}
.card-panel-item-status-completed{
    background-color: #000139;
    border-radius:4px;
}

.alert-text{
    color: #5959d7;
}

/* input */
.input100{
    background-color: #0d0943;
    color:white;
}
.focus-input100{
    border : 1px solid white;
}
.wrap-input100{
    border :1px solid #373785;
}

/* checkbox */
.label-checkbox100::before {
    background-color: #0d0943;
    border:1px solid #373785;
}
.input-checkbox100:checked + .label-checkbox100::before{
    color:white;
}

/* button */
.login100-form-btn{
    background: #3c1491;
}
.login100-form-btn:hover{
    background-color: #271491;
}

.btn-deal-dm{
    display:none;
}

/* break text line  */
.word-break{
    word-break:break-all;
}

/* background*/
.background{
    background-image: url(/img/bg-img/sub2.png);
}
@media (min-width:1920px) and (min-height:1280px){
    .background{
        background-size: cover;
    }
}

.bg-main {
    background-image: url(/img/bg-img/main5.png);
}

/* bootstrap-select-v4 */
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-align: center!important;
}
.inner{
    max-height:150px!important;
}

/* sweet alert */
.swal-modal{
    background-color: #000039;
}
.swal-text{
    color:white;
}
.swal-button{
    background-color: #3c1491;
}
.swal-button:not([disabled]):hover{
    background-color: #271491;
}

/* bootstrap custom - pagination */
.page-link{
    background-color: transparent;
    color:white;
    border: none;
}
.page-item.active .page-link{
    background-color: #3c3b9b;
    border:solid 1px #373785;
}
.page-item{
    border: solid 1px #373785;
    background-color: #1f1f65;
}

.page-link:hover {
    background-color: #100059;
}
