@media (min-width: 320px) and (max-width: 374px) {
    .limiter{
        margin-top:35%
    }
    .background{
        background-size: auto;
    }
}
@media (min-width: 375px) and (max-width: 410px) {
    .limiter{
        margin-top:30%
    }
    .background{
        background-size: auto;
    }
}
@media (min-width:411px) and (max-width:767px){
    .limiter{
        margin-top:20%
    }
    .background{
        background-size: auto;
    }
}
.wrap-login100{
    width:600px;
}
.limiter{
    color:white;
}

