<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <script src="/javascripts/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script>
        $(document).ready(function(){
            iamport('card', "<%=amount%>");
        });

        function iamport(payMethod, point) {
            var IMP = window.IMP; // 생략가능
            IMP.init('iamport'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
            IMP.request_pay({
                pg: 'danal', // version 1.1.0부터 지원.
                pay_method: payMethod,
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: 'D-Pay 결제',
                amount: point,
                buyer_email: '',
                buyer_name: '',
                buyer_tel: '',
                buyer_addr: '',
                buyer_postcode: '',
                m_redirect_url: 'http://localhost:3000'
            }, function (rsp) {
                if (rsp.success) {
                    var msg = '결제가 완료되었습니다.';
                    // msg += '고유ID : ' + rsp.imp_uid;
                    // msg += '상점 거래ID : ' + rsp.merchant_uid;
                    // msg += '결제 금액 : ' + rsp.paid_amount;
                    // msg += '카드 승인번호 : ' + rsp.apply_num;
                    console.log(msg, rsp);
                    alert(msg);
                    location.href = "/";
                } else {
                    var msg = '결제에 실패하였습니다.';
                    console.log(msg, rsp);
                    alert(msg);
                    location.href = "/";
                }
            });
        }
    </script>
</head>
<body>
    <p>신용카드 결제 페이지</p>
</body>
</html>