
.wrap-login100 {
    width: 1000px;
}

.item-table {
    border-radius: 4px;
    border: solid 1px #373785;
    background-color: #0d0943;
    margin: 0;
}

.item-table-title {
    color: #3f6891;
}

.item-table-cost {
    font-size: 1.2em;
}

.item-description {
    border-radius: 4px;
    border: solid 1px #373785;
    background-color: #0d0943;
}

.item-description-title {
    font-size: 0.9em;
    color: #3f6891;
}

.item-img {
    text-align: center;
}

/* bootstrap */
.table td {
    border-top: 1px solid #373785
}

@media (min-width: 320px) and (max-width: 374px) {
    .detail-container {
        margin-top: 42%;
        padding-right:0;
        padding-left:0;
    }
    .detail-container2{
        padding-right:0;
        padding-left:0;
    }
    .background{
        background-size: auto;
    }
    .item-table, .item-description{
        font-size:0.7em;
    }
    .item-table-title {
        width: 90px;
    }
}

@media (min-width: 375px) and (max-width: 410px) {
    .detail-container {
        margin-top: 42%;
        padding-right:0;
        padding-left:0;
    }
    .detail-container2{
        padding-right:0;
        padding-left:0;
    }
    .background{
        background-size: auto;
    }
    .item-table, .item-description{
        font-size:0.7em;
    }
    .item-table-title {
        width: 90px;
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .detail-container {
        margin-top: 38%;
        padding-right:0;
        padding-left:0;
    }
    .detail-container2{
        padding-right:0;
        padding-left:0;
    }
    .background{
        background-size: auto;
    }
    .item-table, .item-description{
        font-size:0.8em;
    }
    .item-table-title {
        width: 90px;
    }
}

@media (min-width:768px) and (max-width: 768px){
    .detail-container {
        margin-top: 15%;
        padding-right:0;
        padding-left:0;
    }
    .background{
        background-size: auto;
    }
}
@media(max-height:1034px)and (min-width:769px){
    .detail-container {
        margin-top: 13%;
    }
    .background{
        background-size: auto;
    }
}
