.wrap-login100 {
    width: 1000px;
}

.custom-select {
    width: 100%;
    height: 55px;
}

.mach-account {
    margin-right: 4%;
}

.textarea-custom {
    height: 150px;
    padding:1em;
}

/* boostrap-select custom */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width:inherit!important;
}
@media (min-width: 320px) and (max-width: 374px) {
    .limiter {
        margin-top: 37%;
    }

    .register-container {
        padding: 10px 0 10px 0;
    }

    .mach-account {
        margin-right: 0;
    }

    /* bootstrap */
    .offset-1 {
        margin-left: 2.5%;
    }

    .col-10 {
        max-width: 95%;
    }

    .input100 {
        padding: 0 10px 0 10px;
        font-size: 0.8em
    }
}

@media (min-width: 375px) and (max-width: 410px) {
    .limiter {
        margin-top: 33%;
    }

    .register-container {
        padding: 10px 0 10px 0;
    }

    .mach-account {
        margin-right: 0;
    }

    /* bootstrap */
    .offset-1 {
        margin-left: 2.5%;
    }

    .col-10 {
        max-width: 95%;
    }

    .input100 {
        padding: 0 10px 0 10px;
        font-size: 0.8em
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .limiter {
        margin-top: 30%;
    }

    .register-container {
        padding: 10px 0 10px 0;
    }

    .mach-account {
        margin-right: 0;
    }

    /* bootstrap */
    .offset-1 {
        margin-left: 2.5%;
    }

    .col-10 {
        max-width: 95%;
    }

    .input100 {
        padding: 0 10px 0 10px;
        font-size: 0.8em
    }

}

@media (max-height: 1034px)and (min-width: 768px) {
    .limiter {
        margin-top: 15%;
    }
}

@media (min-width: 768px) {
    .col-6 {
        flex: 0 0 48%;
        max-width: 50%;
    }
    .limiter{
        margin-top:10%;
    }
}
