<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>D-Pay 계좌 이체</title>
    <script src="/javascripts/jquery/jquery-2.2.4.min.js"></script>

    <script>
        $(document).ready(function() {
            $.ajax({
                method: "GET",
                url: "/v1/banks/account/balance",
            }).done(function (success) {
                console.log(success.data);

                for(var i in success.data.res_list) {
                    let result = '<div style="border: 1px solid #000000;margin: 10px; padding: 10px;" onclick="agreePayment();">' +
                        '<p>'+success.data.res_list[i].bank_name+'</p>' +
                        '<p>'+success.data.res_list[i].account_num_masked+'</p>' +
                        '<p>'+success.data.res_list[i].account_holder_name+'</p>' +
                        '<p>잔액 <span id="balance_amount">'+success.data.res_list[i].balance.balance_amt+'</span>원</p>' +
                        '<p><input type="hidden" id="fintechUseNo" value="'+success.data.res_list[i].fintech_use_num+'">' +
                        '<input type="hidden" id="hid_balance_amount" value="'+success.data.res_list[i].balance.balance_amt+'"></p>' +
                        '<input type="hidden" id="amount" value="<%=amount%>"></p>' +
                        '</div>';
                    $('#account').append(result);
                }

            }).fail(function (fail) {
                console.log('error', fail);
            })
        });

        function agreePayment() {
            let confirmYn = confirm("결제 하시겠습니까?");
            if(!confirmYn) {
                return;
            }

            let param = {
                "dps_print_content": "TEST",
                "fintech_use_num": $('#fintechUseNo').val(),
                "tran_amt": $('#amount').val()
            }

            $.ajax({
                method: "POST",
                url: "/v1/banks/transfer/withdraw/user",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param)
            }).done(function (success) {
                alert('결제가 성공적으로 완료 되었습니다.');
                console.log(success);
                let hid_balance_amount = $('#hid_balance_amount').val() - $('#amount').val();
                $('#hid_balance_amount').val(hid_balance_amount);
                $('#balance_amount').text(hid_balance_amount);
                //To-do : App으로 어떻게 넘겨야 하지??
                location.href = "/";
            }).fail(function (fail) {
                alert('결제가 실패 했습니다.');
                console.log('error', fail);
                //To-do : App으로 어떻게 넘겨야 하지??
                location.href = "/";
            })
        }

        function cancelPayment() {
            let confirmYn = confirm("결제 취소 하시겠습니까?");
            if(confirmYn) {
                history.back(-1);
            }
        }
    </script>
</head>
<body>
    <p style="margin-bottom: 20px;">계좌 이체</p>
    <p style="margin-bottom: 20px;">결제 금액 : <%=amount%>원</p>
    <div id="account">
        <p style="margin-bottom: 20px;">이체할 계좌를 선택하세요.</p>
    </div>
    <div style="margin-bottom: 20px;">
        <button style="border:1px solid #000000; display: inline-block;" onclick="cancelPayment()">
            결제 취소
        </button>
    </div>
</body>
</html>