.wrap-login100 {
    width: 1000px;
}

.wrap-input100 {
    background-color: #0d0943;
}
.modal-content{
    background-color: #0d0943;
}

.custom-select {
    width: 100%;
    height: 55px;
}

.blank {
    margin-right: 4%;
}
.blank2{
    margin-right:3.333%;
}

.btn-custom {
    background-color: #3c1491;
    border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 374px) {
    .limiter {
        margin-top: 40%;
    }

    .container-login100{
        padding: 3px;
    }
    .blank{
        margin-right:0;
    }
    .blank2{
        margin-right:0;
    }

    .myInfo-container {
        padding: 5px 0 5px 0;
    }

    .mach-account {
        margin-right: 0;
    }
    .btn-check{
        padding:5px 3px;
    }

    /* bootstrap */
    .offset-1 {
        margin-left: 2.5%;
    }

    .col-10 {
        max-width: 95%;
    }

    .input100 {
        padding: 0 10px 0 10px;
        font-size: 0.8em
    }

    .modal-content{
        margin-top:150px;
    }
}

@media (min-width: 375px) and (max-width: 410px) {
    .limiter {
        margin-top: 36%;
    }

    .container-login100{
        padding: 3px;
    }
    .blank{
        margin-right:0;
    }
    .blank2{
        margin-right:0;
    }

    .myInfo-container {
        padding: 5px 0 5px 0;
    }

    .mach-account {
        margin-right: 0;
    }

    /* bootstrap */
    .offset-1 {
        margin-left: 2.5%;
    }

    .col-10 {
        max-width: 95%;
    }

    .input100 {
        padding: 0 10px 0 10px;
        font-size: 0.8em
    }

    .modal-content{
        margin-top:150px;
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .limiter {
        margin-top: 33%;
    }

    .container-login100{
        padding: 3px;
    }
    .blank{
        margin-right:0;
    }
    .blank2{
        margin-right:0;
    }

    .myInfo-container {
        padding: 5px 0 5px 0;
    }

    .mach-account {
        margin-right: 0;
    }

    /* bootstrap */
    .offset-1 {
        margin-left: 2.5%;
    }

    .col-10 {
        max-width: 95%;
    }

    .input100 {
        padding: 0 10px 0 10px;
        font-size: 0.8em
    }

    .modal-content{
        margin-top:150px;
    }

}
@media(width:768px){
    .limiter{
        margin-top:16%;
    }
}
@media (max-height: 1400px)and (min-width: 769px) {
    .limiter {
        margin-top: 12%;
    }
}

@media (min-width: 768px) {
    .col-6 {
        flex: 0 0 48%;
        max-width: 50%;
    }
    .col-lg-4, .col-md-4{
        flex: 0 0 30%;
        max-width: 30%;
    }
}


.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-footer{
    border-top:0;
}
