.bg-main{
    background-image: url(/img/bg-img/storm.png);
}
.dorne-welcome-area{
    height:600px;
}
.hero-search-form .nav-tabs .nav-link{
    font-size:0.8em;
    min-width: 150px;
}
.hero-search-form .nav-tabs .nav-link.active{
    border: solid 1px #2d307b;
    background-color: rgba(13, 9, 67, 0.8);
}
.hero-search-form .tab-content .tab-pane{
    border: solid 1px #373785;
    background-color: rgba(13, 9, 67, 0.8);
    min-height:800px;
    padding:25px 5px 0 5px;

}
.text-overflow{
    word-break:break-all;
}
@media (min-width: 320px) and (max-width: 767px) {
    .list-panel{
        padding:5px;
    }
    .px-2{
        padding: 3px!important;
    }
    .py-2{
        padding: 3px!important;
    }
    .hero-search-form{
        margin-top:30px;
    }
    .hero-search-form .tab-content .tab-pane{
        min-height:500px;
    }
    .section-padding-150{
        padding-bottom:30px;
    }
}
